<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registrierung</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>
        <div class="vertical">
            <a th:href="@{/spielerverwaltung/super}" class="leisteButton">SuperUser</a> 
            <form th:action="@{/abmelden}" method="post" class="button">
                <button type="submit">Abmelden</button>
            </form>
        </div> 
    </div>
    <div class="Titelseite">
        <h2>Neuer Spieler Registrieren</h2>
    </div>

    <div class="zentrierung"></div>
        <div class="inhalt">
            <div class="formular">
                <form th:action="@{/spielerverwaltung/admin/registrierung/neuerSpieler}" method="post" th:object="${spieler}">
                    <div>
                        <h3>Benutzerdaten: </h3>
                        <label for="username">Username: </label>
                        <input type="text" th:field="*{username}" id="username">    
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="text" th:field="*{passwort}" id="password">    
                    </div>
                        <h3>Spielerdaten: </h3>
                    <div>
                        <label for="vorname">Vorname: </label>
                        <input type="text" th:field="*{vorname}" id="vorname">    
                    </div>
                    <div>
                        <label for="nachname">Nachname: </label>
                        <input type="text" th:field="*{nachname}" id="nachname">    
                    </div>
                    <div>
                        <label for="datum">Geburtsdatum: </label>
                        <input type="date" th:field="*{Geburtsdatum}" id="datum">    
                    </div>
                    <div>
                        <label for="rueckennummer">Rückennummer: </label>
                        <input type="number" th:field="*{rueckennummer}" id="rueckennummer">    
                    </div>            
                    <div class="">
                        <label for="positionen">Position wählen:</label>
                        <select th:field="*{position}" id="positionen">
                            <option th:each="p : ${positionen}"
                                    th:value="${p}"
                                    th:text="${p.bezeichnung}">Positionen</option>
                        </select>
                    </div>
                    <button type="submit">Spieler Registrieren</button>            
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>