<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registrierung</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>
        <div class="vertical">
            <a th:href="@{/spielerverwaltung/homepage}" class="leisteButton">Homepage</a> 
            <form th:action="@{/abmelden}" method="post" class="button">
                <button type="submit">Abmelden</button>
            </form> 
        </div>
    </div>
    <div class="Titelseite">
        <h2>Neuer Verein Registrieren</h2>
    </div>

    <div class="zentrierung"></div>
        <div class="inhalt">
            <div class="formular">
                <form th:action="@{/spielerverwaltung/super/vereinReg}" method="post" th:object="${verein}">
                    <div>
                        <label for="vereinName">Name: </label> <input type="text" th:field="*{name}" id="vereinName">
                        <p th:if="${#fields.hasErrors('name')}" class="errorText" th:errors="*{name}">FEHLER</p>    
                    </div>  
                    <div>
                        <label for="freieAdmins">Admin Zuweisen: </label>
                        <select name="freieAdmins" id="freieAdmins" th:field="*{admin}">
                            <option value="">-- Bitte wählen --</option>
                            
                            <option 
                            th:each="admin : ${freieAdmins}" 
                            th:value="${admin.id}"
                            th:text="${admin.username}">Admin wählen</option>
                            </select>
                        <p th:if="${#fields.hasErrors('admin')}" class="errorText" th:errors="*{admin}">FEHLER</p>    
                    </div>          
                    <button type="submit">Registrieren</button>            
                </form>
                 <div class="horizontal">
                    <a th:href="@{/spielerverwaltung/super}" class="leisteButton">Abbrechen</a> 
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>