<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Verein Dashboard</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>

        <div class="vertical">
            <a type="button" th:href="@{/spielerverwaltung/super}" class="leisteButton">SuperUser</a>
            <a th:href="@{/spielerverwaltung/homepage}" class="leisteButton">Homepage</a>      
            <form th:action="@{/abmelden}" method="post" class="button">
                <button type="submit">Abmelden</button>
            </form>
        </div>
    </div>

    <div class="Titelseite">
        <h2>Verein Dashboard</h2>
    </div>

    <div class="">
        <div class="vertical">
            <div class="tabelleContainer">
                <h3 th:if="${verein}" th:text="${verein.name}">Mannschaftsübersicht</h3>
                
                <table class="tabelleAdmin">
                    <thead>
                        <tr>
                            <th class="spalteKlein">ID</th>
                            <th>Username</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>Geburtsdatum</th>
                            <th>Position</th>
                            <th class="spalteKlein">Nr.</th>
                            <th>Gehaltserhöhung</th>
                            <th>Aktionen</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="spieler : ${spielerListe}">
                            <td th:text="${spieler.id}">1</td>
                            <td th:text="${spieler.username}">user</td>                               
                            <td th:text="${spieler.vorname}">Max</td>
                            <td th:text="${spieler.nachname}">Mustermann</td>
                            <td th:text="${#temporals.format(spieler.geburtsdatum, 'dd.MM.yyyy')}">23.01.2004</td>
                            <td th:text="${spieler.position.bezeichnung}">Torwart</td>
                            <td th:text="${spieler.rueckennummer}">1</td>
                            <td th:text="${spieler.isWillGehaltsErhoeung ? 'JA' : 'Nein'}">1</td>
                            <td>
                                <form th:action="@{/spielerverwaltung/admin/verein/spielerDelete/{verein_id}/{spieler_id}(verein_id=${verein.id}, spieler_id=${spieler.id})}" method="post"
                                      onsubmit="return confirm('Spieler wirklich aus dem Verein entfernen?');">
                                    <button type="submit">Entfernen</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <p>* Bedeutet, ob der Spieler sich wünscht, mehr zu verdienen</p>
            
            <div class="horizontal">
                <a class="link" th:href="@{/spielerverwaltung/admin/verein/EditVerein/{id}(id=${verein.id})}">Team Editieren</a>
                
                <a th:if="${verein}" class="link" 
                   th:href="@{/spielerverwaltung/admin/verein/EditVerein/mehrSpieler/{id}(id=${verein.id})}">
                   Mehr Spieler zu dem Team Hinzufügen
                </a>
            </div>
        </div>
    </div>
</body>
</html>