img {
  width: 100px;
  height: auto;
}

.zentrierung {
  display: flex;             
  justify-content: center; /*horizontal */
  align-items: center; /*vertikal*/
  min-height: 100vh;
}

.leiste_oben {
  display: flex;
  flex-direction: row; /*Horizontal Ausrichtung */
  gap: 25px;
}

.formular {
  margin: 10px;
}

.formular div {
  padding: 10px;
}

.formular label {
  font-weight: bold;
}

.nachricht {
  font-size: xx-large;
}
