img {
  width: 100px;
  height: auto;
}

.leiste_oben {
  display: flex;
  flex-direction: row; /*Horizontal Ausrichtung */
}

.formular {
  margin: 10px;
}

.formular div {
  padding: 10px;
}

.formular label {
  font-weight: bold;
}
