<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>AdminHomepage</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <!-- logout in SpriSecur funktioniert nur per POST wegen CSRF-Token -->
        <form th:action="@{/abmelden}" method="post" class="button">
            <button type="submit">Abmelden</button>
        </form>
        <h1>Spielerverwaltung</h1>
    </div>


    <div class="seite">
        <h2>Admin Homepage</h2>
    </div>
        <div class="zentrierung"></div>
            <div class="inhalt">
                <div class="">
                    <a th:href="@{/registrierung}">Registrieren</a> 
                </div>
            </div>
    </div>
</body>
</html>