<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Registrierung</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>

        <div class="vertical">
            <a type="button" th:href="@{/spielerverwaltung/super}" class="leisteButton">SuperUser</a>      
            <form th:action="@{/abmelden}" method="post" class="button">
                <button type="submit">Abmelden</button>
            </form>
        </div>

    </div>

    <div class="Titelseite">
        <h2>Spieler Editieren</h2>
    </div>
    <div class="">
        <div class="vertical">
             <div class="formular">
                <form th:action="@{/spielerverwaltung/admin/spieler/{id}(id=${spieler.id})}" method="post" th:object="${spieler}">
                    <div>
                        <h3>Benutzerdaten: </h3>
                        <label for="username">Username: </label>
                        <input type="text" th:field="*{username}" id="username">    
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" th:field="*{passwort}" id="password">    
                    </div>
                        <h3>Spielerdaten: </h3>
                    <div>
                        <label for="vorname">Vorname: </label>
                        <input type="text" th:field="*{vorname}" id="vorname">    
                    </div>
                    <div>
                        <label for="nachname">Nachname: </label>
                        <input type="text" th:field="*{nachname}" id="nachname">    
                    </div>
                    <div>
                        <label for="datum">Geburtsdatum: </label>
                        <!-- th:value bei # temp.. 
                         anstatt th:field weil t:f nur direkte Variablen von Objekt annimmt  -->
                        <input 
                        type="date" 
                        th:field="*{geburtsdatum}"
                        id="datum">    
                    </div>
                    <div>
                        <label for="rueckennummer">Rückennummer: </label>
                        <input type="number" th:field="*{rueckennummer}" id="rueckennummer">    
                    </div>            
                    <div class="">
                        <label for="positionen">Position wählen:</label>
                        <select th:field="*{position}" id="positionen">
                            <option th:each="p : ${positionen}"
                                    th:value="${p}"
                                    th:text="${p.bezeichnung}">Positionen</option>
                        </select>
                    </div>
                    <button type="submit">Bestätigen</button>            
                </form>
            </div>
        </div>
    </div>
</body>
</html>