<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registrierung</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>
    </div>

    <div class="seite">
        <h2>Registrierung</h2>
    </div>
    <div class="formular">
        <form th:action="@{/spielerverwaltung/admin/registrierung/newUser}" method="post" th:object="${benutzer}">
            <div>
                <label for="username">Username: </label>
                <input type="text" th:field="*{username}" id="username">    
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="text" th:field="*{passwort}" id="password">    
            </div>            
            <div class="">
                <label for="role">Rolle wählen:</label>
                <select th:field="*{role}" id="role">
                    <option th:each="r : ${role}"
                            th:value="${r}"
                            th:text="${r.name}">ROLE_BENUTZER</option>
                </select>
            </div>
            <button type="submit">Registrieren</button>            
        </form>
    </div>
    
</body>
</html>