<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registrierung</title>
</head>
<body>
    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>
        <a th:href="@{/spielerverwaltung/super}">SuperUser</a> 
        <form th:action="@{/abmelden}" method="post" class="button">
            <button type="submit">Abmelden</button>
        </form>
    <div class="zentrierung"> 
        </div>
    
        <div class="seite">
            <h2>Neue Benutzer</h2>
        </div>
    
        <div class="">
            <a th:href="@{/spielerverwaltung/admin/registrierung/neuerAdmin}">neuen </a>
            <a th:href="@{/spielerverwaltung/admin/registrierung/neuerSpieler}">SuperUser</a>  
        </div>
    </div>
</body>
</html>