<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Homepage</title>
</head>
<body>

    <div class="leiste_oben">
        <img th:src="@{/images/logo.jpg}" alt="App_Logo">
        <h1>Spielerverwaltung</h1>
    </div>

    <div class="seite">
        <h2>Startseite</h2>
    </div>

    <div class="">
        <a th:href="@{/login}">Anmelden</a>
        <a th:href="@{/registrierung}">Registrieren</a>    
    </div>
</body>
</html>