<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>SuperUser</title>
</head>
<body>
    <div class="leiste_oben">
                <img th:src="@{/images/logo.jpg}" alt="App_Logo">
                <h1>Spielerverwaltung</h1>
                <a th:href="@{/spielerverwaltung/homepage}">Homepage</a>
                <form th:action="@{/abmelden}" method="post" class="button">
                    <button type="submit">Abmelden</button>
                </form>
            </div>
    <div class="zentrierung">
        <div class="inhalt">
            <div class="seite">
                <h2>SuperUser</h2>
            </div>
        </div>
    </div>
</body>
</html>