<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>SuperUser</title>
</head>
<body>
    <div class="leiste_oben">
                <img th:src="@{/images/logo.jpg}" alt="App_Logo">
                <h1>Spielerverwaltung</h1>
                <div class="vertical">
                    <a th:href="@{/spielerverwaltung/homepage}" class="leisteButton">Homepage</a>
                    <form th:action="@{/abmelden}" method="post" class="button">
                        <button type="submit">Abmelden</button>
                    </form>
                </div>
            </div>
    <div class="TitelSeite">
    <h2>SuperUser</h2>
    </div>
    <div class=""> 
        <div class="inhalt">
            <div class="vertical">
                <h3>Benutzerliste</h3>
                <ul class="listeSpieler">
                    <li th:each="benutzer: ${listeBenutzer}">
                        <label for="id">Id: </label>
                        <span th:text="${benutzer.id}"></span>
                        <br>
                        <label for="username">Username: </label>
                        <span th:text="${benutzer.username}"></span>
                        <br>
                        <label for="role">Rückennummer: </label>
                        <span th:text="${benutzer.role.name}"></span>
                    </li>  
                </ul>

            </div>
        </div>
    </div>
</body>
</html>